:root {
    --width: 600px;
    --height: 600px;
}

#chessboard {
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(8, fit-content(12.5%));
    grid-template-rows: repeat(8, fit-content(12.5%));
    width: var(--width);
    height: var(--height);
    background-color: blue;
    border: 4px solid white;
}
